<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>sigstop</string>
	<key>CFBundleExecutable</key>
	<string>sigstop</string>
	<key>CFBundleIconFile</key>
	<string>sigstop</string>
	<key>CFBundleIdentifier</key>
	<string>dev.sigstop.app</string>
	<key>CFBundleName</key>
	<string>sigstop</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.7</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>SGReleaseName</key>
	<string>Sleeping Dormouse 🐿️</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://mohamed-elshesheny.github.io/sigstop/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>v0rY/NWn8izKVHcZl7vVyqRCsrV929pkGNyJpThhv6s=</string>
</dict>
</plist>
